body {
    width: 400px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.7;
}
.item-word {
    background: #eff6fa;
    color: #259;
    padding: 1px 10px 0;
    border-radius: 30px;
    text-decoration: none;
    margin: 0 5px 5px 0;
    display: inline-block;
    float: left;
    white-space: nowrap;
}