body {
    width: 400px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.7;
    margin: 15px;
}
.item-word {
    background: #eff6fa;
    color: #259;
    padding: 1px 10px 0;
    border-radius: 30px;
    margin: 0 5px 5px 0;
    float: left;
}

.remove-button {
    margin: 3px 0 -3px 5px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: blue;
    border-radius: 8px;
    cursor: pointer;
    background: url("images/cross-15px.png") no-repeat;
}

.remove-button:hover {
    background: url("images/cross-hover-15px.png") no-repeat;
    background-color: #225599;
}